  <header class="header-bg">
    <div class="header-container">
      <div class="header-content">
        <h1 class="header-title">EcoMotoBikes</h1>
      </div>
    </div>
  </header>
  
  <section class="items-section">
    <div class="items-container">
        <div class="items-row">
        <% if @items.present? %>
            <% @items.each do |item| %>
            <div class="item-column">
                <div class="item-card">
                <%= link_to item_path(item) do %>
                <%= image_tag item.image, class: "item-image" if item.image.attached? %>
                <% end %>
                <div class="item-details">
                    <h5 class="item-name"><%= item.item_name %></h5>
                    <span class="item-price"><%= number_to_currency(item.price, unit: "¥", precision: 0) %></span>
                </div>
                <div class="item-actions">
                    <a class="action-btn" href="#">Add to cart</a>
                </div>
                </div>
            </div>
            <% end %>
        <% end %>
        </div>
    </div>
</section>